# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
bin/
obj/
# Rider / ReSharper
.idea/
*.resharper

# Otros archivos de compilación
*.log
# Visual Studio
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Configs
appsettings.Development.json
